.thermometer {
	width: 200px;
}	

#thermometer {
	position: relative;
	text-align: center;
	background-color: white;
	width: 200px;
	height: 418px;
	margin: 0px auto;
	padding-bottom: 10px;
}

#t_main {
	position: absolute;
	height: 297px;
	width: 118px;
	margin: 0px;
	top: 55px;
	left: 55px;
}

#thermometer form div {
	position: absolute;
	text-align: left;
	top: 360px;
	left: 35px;
} 

#t_upper {
	position: absolute;
	left: 17px;
	top: 35px;
	height: 193px;
	width: 31px;
	background: url("../images/thermometer_upper.png") top center no-repeat;
	overflow: hidden;
}

#t_upper_red {
	position: relative;
	height: 193px;
	width: 11px;
	margin: 10px 15px 0px 5px;
	background-color: blue;
}

#t_upper_white {
	width: 11px;
	padding-bottom: 5px;
	background: blue url("../images/thermometer_inner_top.png") bottom center no-repeat;
	margin: 0px;
}

#t_upper_white div {
	background-color: white;
}

#t_scale {
	position: absolute;
	height: 235px;
	width: 55px;
	left: 32px;
	top: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

#t_scale .number {
	height: 17px;
	margin: 0px;
	margin-bottom: 17px;
	margin-left: 25px;
	padding-left: 0px;
	text-align: right;
	white-space: nowrap;
}

#t_scale .unit {
	height: 17px;
	margin: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
	text-align: left;
	white-space: nowrap;
}

#t_lower {
	position: absolute;
	top: 228px;
	left: 0px;
	height: 52px;
	width: 55px;
	background: blue url("../images/thermometer_lower.png") bottom right no-repeat;
}
